SetEnv DEFAULT_PHP_VERSION 56

<IfModule mod_rewrite.c>

	<IfModule mod_negotiation.c>
	    Options -MultiViews
	</IfModule>

	# Turn on the engine:
	RewriteEngine on

	# Send requests that are not for files to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]

</IfModule>
